.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
}

.tech-stack-btn {
  margin: 5px;
  padding: 10px;
  background-color: lightgray;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tech-stack-btn.selected {
  background-color: #4caf50;
  color: white;
}

.selected-tech-tags {
  margin-top: 15px;
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
}

.tech-tag {
  background-color: #ddd;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.remove-tag {
  background: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
}