/* General Styles */
.mypageuser-form-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .mypageuser-nav {
    margin-bottom: 40px;
  }
  
  .mypageuser-image-upload-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .mypageuser-upload-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .mypageuser-profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .mypageuser-upload-text {
    font-size: 12px;
  }
  
  .mypageuser-file-input {
    display: none;
  }
  
  
  .mypageuser-error {
    color: red;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .mypageuser-input-field {
    margin-bottom: 15px;
  }
  
  .mypageuser-input-field label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .mypageuser-input {
    width: 100%;
    padding: 10px;
    font-size: 14px !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    box-sizing: border-box;
  }
  
  .mypageuser-tech-stack-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
    text-align: center;
    outline: none;
  }
  
  .mypageuser-tech-stack-button.selected {
    background-color: #4F92B8;
    color: white;
    border-color: #4F92B8;
  }
  
  .mypageuser-position select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .mypageuser-submit-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #4F92B8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .mypageuser-submit-button:disabled {
    background-color: #ccc;
  }
  
  /* Dropdown Styles */
  .custom-select {
    position: relative;
    margin-bottom: 15px;
  }
  
  .selected-value {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  
  